<!DOCTYPE html>
<html lang="en">
<head>
    <Title>Product</Title>
    <meta name="twitter:data1" content="69,99"/>
</head>
<body>
<script type="application/ld+json"> {
    "@context": "https://schema.org/",
    "@type": "Product",
    "name": "Lily Dream Kadın Parfüm 100 ml",
    "image": [
        "//dfcdn.defacto.com.tr/7/R2136AZ_NS_PR193_01_01.jpg",
        "//dfcdn.defacto.com.tr/7/R2136AZ_NS_PR193_02_01.jpg",
        "//dfcdn.defacto.com.tr/7/R2136AZ_NS_PR193_03_01.jpg"
    ],
    "description": "Aradığın Leylak Kadın Lily Dream Kadın Parfüm 100 ml en uygun fiyatla DeFacto'da! Yeni sezon Leylak Kadın Lily Dream Kadın Parfüm 100 ml için hemen DeFacto'ya tıkla! ",
    "brand": "DeFacto",
    "sku": "01b3655a-6a3e-4a6c-b242-7c49242e81b9",
    "gtin13": "1461601000000",
    "offers": {
        "@type": "Offer",
        "url": "https://www.defacto.com.tr/pure-life-kadin-parfum-100-ml-1461601",
        "priceCurrency": "TL",
        "price": "69.99",
        "priceValidUntil": "2021-01-01",
        "availability": "https://schema.org/InStock",
        "itemCondition": "https://schema.org/NewCondition"
    }
} </script>
</body>
</html>